<!-- First Way -->
<!-- <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(); employeeForm.reset()"> -->

<!-- Second Way -->
<!-- <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)"> -->

<!-- Third Way -->
<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
    <div class="panel panel-primary" *ngIf="employee">
        <div class="panel-heading">
            <h3 class="panel-title">{{ panelTitle }}</h3>
        </div>
        <div class="panel-body">
            <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
                <label for="name" class="control-label">Name</label>
                <input id="name" required type="text" class="form-control" name="name" [(ngModel)]="employee.name"
                    #name="ngModel">
                <span class="help-block" *ngIf="name.invalid && name.touched">
                    Name is required
                </span>
            </div>

            <!-- <div class="form-group" [class.has-error]="email.invalid && email.touched">
                <label for="email" class="control-label">Email</label>
                <input id="email" required email type="text" class="form-control" name="email"
                    [(ngModel)]="employee.email" #email="ngModel">
                <span class="help-block" *ngIf="email.errors?.required && email.touched">
                    Email is required
                </span>
                <span class="help-block" *ngIf="email.errors?.email && email.touched">
                    Email is Invalid
                </span>
            </div> -->

            <!-- pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail)\.com$" -->
            <div class="form-group" [class.has-error]="email.invalid">
                <label for="email" class="control-label">Email</label>
                <input id="email" [required]="contactPreference.value=='Email'"
                    pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" type="text" class="form-control"
                    name="email" [(ngModel)]="employee.email" #email="ngModel">
                <span class="help-block" *ngIf="email.errors?.required">
                    Email is required
                </span>
                <span class="help-block" *ngIf="email.errors?.pattern">
                    Email is Invalid
                </span>
            </div>

            <div class="form-group" [class.has-error]="phoneNumber.invalid">
                <label for="phoneNumber" class="control-label">Phone Number</label>
                <input id="phoneNumber" [required]="contactPreference.value=='Phone'" type="text" class="form-control"
                    name="phoneNumber" [(ngModel)]="employee.phoneNumber" #phoneNumber="ngModel">
                <span class="help-block" *ngIf="phoneNumber.errors?.required">
                    Phone Number is Invalid
                </span>
            </div>

            <div class="form-group" [class.has-error]="contactPreference.touched && contactPreference.invalid">
                <label class="control-label">Contact Preference</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" required name="contactPreference" value="Email"
                            [(ngModel)]="employee.contactPreference" #contactPreference="ngModel">
                        Email
                    </label>
                    <label class="radio-inline">
                        <input type="radio" required name="contactPreference" value="Phone"
                            [(ngModel)]="employee.contactPreference" #contactPreference="ngModel">
                        Phone
                    </label>
                </div>
                <span class="help-block" *ngIf="contactPreference.touched && contactPreference.invalid">
                    Contact Preference is required
                </span>
                <!-- Contact Preference Selected Value : {{ contactPreference.value }} -->
            </div>

            <div class="form-group" [class.has-error]="gender.touched && gender.invalid">
                <label class="control-label">Gender</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" required name="gender" value="Male" [(ngModel)]="employee.gender"
                            #gender="ngModel">
                        Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" required name="gender" value="Female" [(ngModel)]="employee.gender"
                            #gender="ngModel">
                        Female
                    </label>
                </div>
                <span class="help-block" *ngIf="gender.touched && gender.invalid">
                    Gender is required
                </span>
            </div>

            <!-- confusing user interface -->
            <!-- <div class="form-group" [class.has-error]="isActive.touched && isActive.invalid">
                <div class="form-control">
                    <label class="checkbox-inline control-label">
                        <input type="checkbox" [required]="employee.isActive==null" name="isActive" [(ngModel)]="employee.isActive"
                            #isActive="ngModel">Is Active
                    </label>
                </div>
                <span class="help-block" *ngIf="isActive.touched && isActive.errors?.required">
                    Is Active is required
                </span>
            </div> -->

            <div class="form-group">
                <div class="form-control">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive" #isActive="ngModel">
                        Is Active
                    </label>
                </div>
            </div>

            <div class="form-group" [class.has-error]="department.touched && department.invalid">
                <label for="department" class="control-label">Department</label>
                <!-- Required works only if the default value is null,
                    if it is not the case we have to create custom validator.  -->
                <select id="department" appSelectValidator="select" name="department" class="form-control"
                    [(ngModel)]="employee.department" #department="ngModel">
                    <option ngValue="select">Select Department</option>
                    Required works only if the default value is null
                    <option *ngFor="let dept of departments" [value]="dept.id">
                        {{dept.name}}
                    </option>
                </select>
                <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">
                    Department is required
                </span>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="text" bsDatepicker [bsConfig]="datePickerConfig" placement="right" id="dateOfBirth"
                        name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="photoPath">Photo Path</label>
                <input id="photoPath" type="text" class="form-control" name="photoPath"
                    [(ngModel)]="employee.photoPath">
            </div>

            <div class="form-group">
                <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary"
                    *ngIf="employee.photoPath !=='' && employee.photoPath !==null">
                        {{previewPhoto ? "Hide " : "Show " }} Preview
                </button>
            </div>

            <div class="form-group">
                <img [src]="employee.photoPath" height="200" width="200" 
                    *ngIf="previewPhoto && employee.photoPath !=='' && employee.photoPath !==null" />
            </div>

        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Save</button>
        </div>
    </div>
</form>

Angular Generated Forom Model : {{ employeeForm.value | json}}
<br />
<br />
Our Employee Model : {{ employee | json}}